---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";

import Layout from "../layouts/Layout.astro";
import Skeleton from "../components/Skeleton.astro";
import SquareCornerCard from "../components/SquareCornerCard.astro";

import { logos } from "../utils/logos";
import { skillTypes } from "../utils/skills";

const skillCollections = (await getCollection("skills"))
  .map(({ data }) => data)
  .sort((a, b) => (a.tabIdx > b.tabIdx ? 1 : -1));
---

<Layout
  title="Ray Chung | Skills"
  description="My Skills Page"
  backgroundImage={true}
>
  <ul
    id="skill-tabs"
    class="relative z-10 mx-auto flex w-[95%] flex-row flex-wrap justify-center uppercase text-white sm:mt-4"
  >
    {
      skillCollections.map(({ name }, tabIdx) => (
        <li
          class={
            "group relative w-1/2 cursor-pointer border-b-[1px] py-1 text-center after:absolute after:-bottom-[2px] after:left-0 after:h-[3px] sm:w-32 " +
            "after:w-full after:scale-x-0 after:bg-highlight-light-green after:shadow-md after:shadow-highlight-light-green after:content-[''] hover:text-highlight-light-green hover:after:scale-x-100 hover:after:transition-transform " +
            "data-[selected=true]:text-highlight-light-green data-[selected=true]:after:scale-x-100"
          }
          data-selected="false"
          data-tab={name.toLowerCase()}
          id={`tab-${tabIdx}`}
        >
          <svg
            class="absolute left-1/2 -bottom-[25px] w-12 -translate-x-1/2 scale-x-0 opacity-0 group-data-[selected=true]:scale-x-100 group-data-[selected=true]:opacity-100 group-data-[selected=true]:transition-all group-data-[selected=true]:duration-300"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M65 50L50 35L35 50L50 65L65 50Z" fill="#AFFFF8" />
            <path d="M37 48L35 50H65L63 48H37Z" fill="#CBFFFF" />
            <path
              d="M0 50C10 50 26.5 51.5 36.5 61.5C42.5 67.5 48 76 50 80C52 76 57.5 67.5 63.5 61.5C73.5 51.5 90 50 100 50"
              stroke="#22FFDA"
              stroke-width="5"
            />
          </svg>
          <p class="group-active:translate-y-[2px]">{name}</p>
        </li>
      ))
    }
  </ul>
  <div id="skill-details" class="relative z-10">
    {
      skillCollections.map(({ name, pack, iconName, skills }, tabIdx) => (
        <div
          class="hidden text-white data-[selected=true]:block"
          data-selected="false"
          id={`detail-${tabIdx}`}
        >
          <Icon
            class="mx-auto mt-8 w-20 rounded-full bg-slate-600 bg-opacity-100 p-2"
            pack={pack}
            name={iconName}
          />
          <h1 class="mt-6 text-center font-custom-heavy text-5xl uppercase leading-none">
            {name}
          </h1>
          <ul class="fade-in mx-auto mt-8 w-[95%] max-w-4xl bg-black bg-opacity-0 pb-6 backdrop-blur-sm">
            {skills.map(({ experience, label, type, value, loc }) => (
              <li
                class={
                  "relative mb-[2px] flex items-center gap-6 border-l-4 border-opacity-60 bg-opacity-30 transition-all duration-300 hover:bg-opacity-40 hover:transition-none " +
                  (experience > 6
                    ? "border-[#66c5a7] bg-[#8dcfba] "
                    : experience > 4
                    ? "border-white bg-white "
                    : "border-[#f85950] bg-[#ffb3af] ")
                }
              >
                <div class="absolute right-0 bg-gradient-to-l from-black to-transparent">
                  <Image
                    src={skillTypes[type].bg}
                    alt={type}
                    class="skill__bg blur-sm md:blur-none"
                    format="webp"
                    quality={50}
                  />
                </div>
                <Skeleton
                  width={56}
                  height={56}
                  isImg={true}
                  src={logos[value]}
                  alt={label}
                  className="z-10"
                />
                <div class="group relative hidden w-10 rounded-full bg-slate-600 bg-opacity-100 p-2 sm:block">
                  <Icon
                    pack={skillTypes[type].pack}
                    name={skillTypes[type].iconName}
                  />
                  <span class="invisible absolute top-[2.6rem] left-1/2 z-20 -translate-x-1/2 bg-black bg-opacity-50 px-2 py-1 uppercase backdrop-blur-sm group-hover:visible">
                    {type}
                  </span>
                </div>
                <div class="z-10 hidden gap-4 leading-none sm:flex">
                  <div class="">
                    <p class="uppercase">Level</p>
                    {loc && (
                      <p class="mt-1 text-sm leading-none opacity-60">
                        Lines of Code
                      </p>
                    )}
                  </div>
                  <div class="w-20">
                    <p class="flex items-center gap-[2px] capitalize">
                      {experience}
                      <span class="text-sm font-light leading-none opacity-60">
                        /
                      </span>
                      10
                    </p>
                    {loc && (
                      <p class="mt-1 text-sm leading-none">
                        {Intl.NumberFormat(undefined, {
                          notation: "compact",
                        }).format(loc)}
                      </p>
                    )}
                  </div>
                </div>
                <p
                  class={
                    "z-10 text-xl font-semibold uppercase " +
                    (experience > 6
                      ? "text-[#66c5a7] "
                      : experience > 4
                      ? "text-highlight "
                      : "text-[#f85950] ")
                  }
                >
                  {label}
                </p>
                {name === "Languages" && (
                  <SquareCornerCard
                    className="ml-auto mr-4 px-2 py-1 backdrop-blur-sm"
                    animation={{ border: true, color: true }}
                    color="green"
                  >
                    <a href={`/projects/?skill=${value}`} class="uppercase">
                      Projects
                    </a>
                  </SquareCornerCard>
                )}
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</Layout>

<script>
  // Skill Tabs
  const params = new URLSearchParams(location.search);
  const selectedTab = params.get("tab");
  let selectedTabFound = false;
  const tabs: HTMLElement[] = [];
  const details: HTMLElement[] = [];
  for (let i = 0; i < 4; i++) {
    const tabEl = document.getElementById(`tab-${i}`);
    const detailEl = document.getElementById(`detail-${i}`);
    if (!tabEl || !detailEl) continue;

    if (selectedTab) {
      tabEl.dataset.selected = `${selectedTab === tabEl.dataset.tab}`;
      detailEl.dataset.selected = `${selectedTab === tabEl.dataset.tab}`;
      if (selectedTab === tabEl.dataset.tab) {
        selectedTabFound = true;
      }
    }

    tabs.push(tabEl);
    details.push(detailEl);
    tabEl.addEventListener("click", (e: any) => {
      if (i === 0) {
        params.delete("tab");
        window.history.replaceState({}, "", location.pathname);
      } else {
        params.set("tab", `${tabs[i].dataset.tab}`);
        window.history.replaceState(
          {},
          "",
          `${location.pathname}?${params.toString()}`
        );
      }

      tabs.forEach((tab, tabIdx) => {
        tab.dataset.selected = `${tabIdx === i}`;
      });
      details.forEach((detail, detailIdx) => {
        detail.dataset.selected = `${detailIdx === i}`;
      });
    });
  }
  if (!selectedTabFound) {
    tabs[0].dataset.selected = `${true}`;
    details[0].dataset.selected = `${true}`;
  }
</script>

<style>
  #skill-tabs li[data-selected="true"]::after {
    animation: nav-highlight 300ms ease-in-out !important;
  }
  @keyframes nav-highlight {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }

  .skill__bg {
    mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
</style>
