---
export interface Props {
  id?: string;
  img: string;
  alt: string;
  width: number | string;
  height: number | string;
  className?: string;
}

const {
  id = "loading-image-" + Math.random(),
  img,
  alt,
  width,
  height,
  className,
} = Astro.props;
---

<div
  id={id + "-skeleton"}
  class="skeleton skeleton__container"
  style={`--width: ${width}; --height: ${height}`}
>
  <!-- <img
    id={id + "-skeleton"}
    class="loading-image__skeleton absolute border-none outline-none"
    width={width}
    height={height}
  /> -->
  <img id={id} src={img} alt={alt} />
  <!-- style={`max-width: ${width}; max-height: ${height}`} -->
</div>

<script define:vars={{ id }}>
  const imageEl = document.getElementById(id);
  const skeletonEl = document.getElementById(id + "-skeleton");
  imageEl.onload = function () {
    skeletonEl.classList.remove("skeleton");
  };
</script>
