---
import { Image } from "@astrojs/image/components";

import Navbar from "../components/Navbar.astro";
import Seo from "../components/Seo.astro";

import "../styles/global.css";
import bg from "../images/bg.png";

export interface Props {
  title: string;
  description: string;
  image?: string;
  background?: string;
  backgroundImage?: boolean;
}

const {
  title,
  description,
  image,
  background,
  backgroundImage = false,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />

    <Seo title={title} description={description} image={image} />
  </head>
  <body class="h-[100vh]">
    {
      backgroundImage && (
        <Image
          id="bg"
          src={bg}
          alt="Background Image"
          class="absolute h-[100vh] w-full object-cover opacity-0"
          style="--duration: 2000ms"
          format="webp"
          quality={75}
        />
      )
    }
    <main
      class="parallax-wrapper absolute inset-0 overflow-y-auto overflow-x-hidden"
    >
      <Navbar />
      <slot />
    </main>
    <script define:vars={{ background }}>
      if (background) {
        document.documentElement.style.setProperty("--background", background);
      }

      const imgEl = document.getElementById("bg");
      function bgLoaded() {
        if (imgEl.complete) {
          imgEl.classList.add("fade-in");
          imgEl.classList.remove("opacity-0");
        }
      }
      if (imgEl) {
        imgEl.onload = bgLoaded;
        bgLoaded();
      }
    </script>

    <style>
      #bg {
        mask-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 1) 90%,
          rgba(0, 0, 0, 0) 100%
        );
        -webkit-mask-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 1) 90%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    </style>
  </body>
</html>
